<p class="calibre1">“Overtown, then. They told me in the har-</p>
<p class="calibre1">bor master’s office that you still kept a slip</p>
<p class="calibre1">there but you moved the boat over here. I</p>
<p class="calibre1">came over and took a water taxi around the</p>
<p class="calibre1"><a id="18"></a>18/1057</p>
<p class="calibre1">harbor until I found it. Your friend was</p>
<p class="calibre1">there. He told me how to get up here.” </p>
<p class="calibre1">“Buddy.” </p>
<p class="calibre1">McCaleb looked down into the harbor and</p>
<p class="calibre1">picked out  <i class="calibre4">The Following Sea. </i> It was about a half mile or so away. He could see Buddy</p>
<p class="calibre1">Lockridge bent over in the stern. After a few</p>
<p class="calibre1">moments he could tell that Buddy was wash-</p>
<p class="calibre1">ing off the reels with the hose from the fresh-</p>
<p class="calibre1">water tank. </p>
